/* purgecss start ignore */
@tailwind  base;
@tailwind  components;
/* purgecss end ignore */

@tailwind utilities;

body {
    background-color: #EDF2F7;
}
.sidebar {
  min-height: calc(100vh - 64px);
}

@media print {
  .page-break {
    margin-top: 1rem;
    display: block;
    page-break-before: always;
    page-break-after: always
  }
}

.top-34 {
  top:32px;
  box-shadow: 0 8px 6px -6px #ccc;
}

.img__save {
  min-width: 13px;
  min-height: 13px;
}
.img__save-wrap {
  width: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.mask-password {
  -webkit-text-security: disc;
  text-security: disc;
}
